<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lupa Password</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/lupa-password.css') }}"
    />
  </head>
  <body>
    <div class="page-container">
      <div class="logo-section">
        <a href="{{ url_for('home') }}">
          <img
            class="logo-image"
            src="{{ url_for('static', filename='assets/logo-predicto.png') }}"
            alt="Predicto Logo"/>
        </a>
      </div>

      <div class="form-section">
        <div class="form-container">
          <h1 class="form-title">Lupa Password</h1>
          <p class="form-subtitle">Keep calm!</p>

          <form method="POST" action="{{ url_for('lupa_password') }}">
            <div class="input-container">
              <input
                type="email"
                name="email"
                class="form-input"
                required
                placeholder="Email"
              />
            </div>

            <button type="submit" class="form-button">
              Kirim Tautan Reset
            </button>
          </form>

          <a href="{{ url_for('login') }}" class="back-link"
            >Kembali ke Login</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
