<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lupa-password.css') }}" />
</head>

<body>
  <div class="page-container">
    <div class="logo-section">
      <a href="{{ url_for('home') }}">
        <img class="logo-image" src="{{ url_for('static', filename='assets/logo-predicto.png') }}"
          alt="Predicto Logo" />
      </a>
    </div>


    <div class="form-section">
      <div class="form-container">
        <h1 class="form-title">Reset Password</h1>
        <p class="form-subtitle">Masukkan password baru</p>

        <form method="post" action="{{ url_for('auth.reset_password', token=token) }}">
          <div class="input-container">
            <input type="password" name="new_password" class="form-input" required placeholder="Password Baru" />
          </div>

          <div class="input-container">
            <input type="password" name="confirm_password" class="form-input" required
              placeholder="Konfirmasi Password" />
          </div>

          <button type="submit" class="form-button">
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>