<!-- templates/register.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://animaproject.s3.amazonaws.com/home/favicon.png"
    />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
  </head>
  <body>
    <div class="container-center-horizontal">
      <div class="register-page screen">
        <img
          class="logo_1-1-FG3P4s"
          src="{{ url_for('static', filename='assets/logo-predicto.png') }}"
          alt="Predicto Logo"
        />
        <div class="rectangle-1-FG3P4s">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
              {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        </div>

        <form method="POST" action="{{ url_for('register') }}">
          <div class="rectangle-5-FG3P4s"></div>
          <input
            type="text"
            name="username"
            class="nama-FG3P4s poppins-medium-black-27px"
            placeholder="Username"
            required
          />

          <div class="rectangle-2-FG3P4s"></div>
          <input
            type="email"
            name="email"
            class="email-FG3P4s poppins-medium-black-27px"
            placeholder="Email"
            required
          />

          <div class="rectangle-3-FG3P4s"></div>
          <input
            type="password"
            name="password"
            class="password-FG3P4s poppins-medium-black-27px"
            placeholder="Password"
            required
          />

          <button type="submit" class="rectangle-4-FG3P4s">
            <div class="create-account-FG3P4s">Create account</div>
          </button>
        </form>

        <h1 class="title-FG3P4s">Create an account</h1>
        <p class="sudah-punya-akun-log-in-FG3P4s">
          Sudah punya akun? <a href="{{ url_for('login') }}">Login</a>
        </p>
      </div>
    </div>
  </body>
</html>
