Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-JWT-Extended
python-dotenv
pymysql
cryptography
Flask-Mail
blinker
click
colorama
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
requests
flash
gunicorn
pandas
matplotlib
seaborn
statsmodels
numpy
datetime
xgboost==2.1.4
holidays
scikit-learn
joblib==1.4.2
tensorflow==2.15.0
