@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:500,600");

/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/680f1b56f2622650cd49a00f.680f1b57f2622650cd49a012.Arrb34d.hch.png");

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.component-wrapper a {
  display: contents;
  pointer-events: auto;
  text-decoration: none;
}

.component-wrapper * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
  pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.container-center-vertical {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  pointer-events: none;
}

.container-center-vertical > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-nodelay {
  animation-delay: 0s;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --white: #ffffff;

  --font-size-l: 32px;
  --font-size-m: 24px;
  --font-size-s: 18px;

  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-semi-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

:root {
}

/* screen - dashboard-page-cadangan */

.dashboard-page-cadangan {
  background-color: var(--white);
  height: 1324px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1500px;
}

.dashboard-page-cadangan .rectangle-6-GxsVjJ {
  background-color: #f5f7fa;
  height: 1224px;
  left: 256px;
  position: absolute;
  top: 100px;
  width: 1300px;
}

.dashboard-page-cadangan .rectangle-12-GxsVjJ {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 15px;
  height: 350px;
  left: 292px;
  position: absolute;
  top: 953px;
  width: 1180px;
}

.dashboard-page-cadangan .tren-penjualan-bulanan-GxsVjJ {
  background-color: transparent;
  height: auto;
  left: 292px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 913px;
  white-space: nowrap;
  width: 295px;
}

.dashboard-page-cadangan .rectangle-11-GxsVjJ {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 15px;
  height: 350px;
  left: 292px;
  position: absolute;
  top: 553px;
  width: 1180px;
}

.dashboard-page-cadangan .tren-penjualan-mingguan-GxsVjJ {
  background-color: transparent;
  height: auto;
  left: 292px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 514px;
  white-space: nowrap;
  width: 317px;
}

.dashboard-page-cadangan .vector-GxsVjJ {
  top: 1277px;
}

.dashboard-page-cadangan .vector-jc8j5L {
  top: 366px;
}

.dashboard-page-cadangan .vector-d31DCz {
  top: 310px;
}

.dashboard-page-cadangan .vector-qx9RTx {
  top: 254px;
}

.dashboard-page-cadangan .title-GxsVjJ {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 292px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 26px;
  width: 182px;
}

.dashboard-page-cadangan .dashboard-GxsVjJ {
  background-color: transparent;
  color: #3181c6;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 142px;
  width: 110px;
}

.dashboard-page-cadangan .vector-k5wbSv {
  top: 142px;
}

.dashboard-page-cadangan .prediction-GxsVjJ {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 198px;
  width: 110px;
}

.dashboard-page-cadangan .history-prediction-GxsVjJ {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 253px;
  width: 164px;
}

.dashboard-page-cadangan .chatbot-GxsVjJ {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 308px;
  width: 110px;
}

.dashboard-page-cadangan .setting-GxsVjJ {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 364px;
  width: 110px;
}

.dashboard-page-cadangan .log-out-GxsVjJ {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1275px;
  width: 110px;
}

.dashboard-page-cadangan .ellipse-1-GxsVjJ {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 30px;
  height: 60px;
  left: 1430px;
  position: absolute;
  top: 17px;
  width: 60px;
}

.dashboard-page-cadangan .material-symbolsperson-rounded-GxsVjJ {
  background-color: transparent;
  height: 45px;
  left: 1438px;
  position: absolute;
  top: 25px;
  width: 45px;
}

.dashboard-page-cadangan .vector-SlQiSv {
  top: 198px;
}

.dashboard-page-cadangan .rectangle-10-GxsVjJ {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 15px;
  height: 350px;
  left: 292px;
  position: absolute;
  top: 145px;
  width: 1180px;
}

.dashboard-page-cadangan .tren-penjualan-harian-GxsVjJ {
  background-color: transparent;
  height: auto;
  left: 292px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 107px;
  white-space: nowrap;
  width: 275px;
}

.dashboard-page-cadangan .logo_1-removebg-preview-1-1-GxsVjJ {
  background-color: transparent;
  height: 180px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: -37px;
  width: 180px;
}

.dashboard-page-cadangan .vector {
  background-color: transparent;
  height: 25px;
  left: 35px;
  position: absolute;
  width: 25px;
}
